<div class="row">
  <div class="col-md-4">

    <form [formGroup]="formlist">
    <select class="form-control input-xxs" formControlName="filter_type" id="filter_type" (change)="change_filter_type()">
      <option value="" disabled>Select One ...</option>
      <option value="General" >General</option>
      <option value="Non-General" >Non-General</option>

    </select>
    </form>

    </div>

  <div class="col-md-12" id="list_table_01" style="display:none;">
    <legend class="text-bold"></legend>
    <table class="table display datatable-basic" id="po_list">
        <thead style="background-color:#ebebe0">
            <tr>
                <th class="text-center">ACTION</th>
                <th>STATUS</th>
                <th>PO #</th>
                <th>PO TYPE</th>
                <th>LOC</th>
                <th>SUPPLY</th>
                <th>CURRENCY</th>
                <th>ORDER TYPE</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>


  <div class="col-md-12" id="list_table_02" style="display:none;">
    <legend class="text-bold"></legend>
    <table class="table display datatable-basic" id="po_list2">
        <thead style="background-color:#ebebe0">
            <tr>
                <th class="text-center">ACTION</th>
                <th>STATUS</th>
                <th>PO #</th>
                <th>PO TYPE</th>
                <th>LOC</th>
                <th>SUPPLY</th>
                <th>CURRENCY</th>
                <th>ORDER TYPE</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>



</div>
