
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="heading-elements">
                       &nbsp;
                    </div>
                </div>

                <div class="panel-body">

                  <div class="row">
                    <div class="col-md-12">
                      <div class="text-right">
                        &nbsp;
                      </div>
                    </div>
                  </div>

                  <div class="row">
                  	 <div class="col-md-12">
                      <table class="table display datatable-basic" id="item_tbl">
                          <thead>
                              <tr>
                                  <th class="text-center">Action</th>
                                  <th>Category Name</th>
                                  <th>Item Description</th>
                              </tr>
                          </thead>
                          <tbody>
                              <td></td>
                              <td></td>
                              <td></td>
                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
