
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Material Size</h6>

                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">

                  <div class="row">
                    <div class="col-md-12">
                      <div class="text-right">
                          <button type="button" class="btn bg-teal-400 btn-labeled btn-primary btn-xs"
                          (click)="matSizeModel.show()"><b><i class="icon-plus3"></i></b>Add New</button><br><br>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                  	 <div class="col-md-12">
                      <table class="table display datatable-basic" id="mat_size_tbl">
                          <thead>
                              <tr>
                                  <th class="text-center">Action</th>
                                  <th>Status</th>
                                  <th>Main Category</th>
                                  <th>Sub Category</th>
                                  <th>Dimensions</th>
                              </tr>
                          </thead>
                          <tbody>
                          </tbody>
                      </table>
                    </div>
                  </div>

                  <!-- popup -->
                   <div bsModal #matSizeModel="bs-modal" [config]="{backdrop: 'static'}"
                   	class="modal fade" (onShow)="showEvent($event)" >
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="saveMatSize()">
                                <div class="modal-header  bg-teal-300">
                                    <button type="button" class="close" (click)="matSizeModel.hide()">&times;</button>
                                    <h5 class="modal-title">{{ modelTitle }}</h5>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" formControlName="size_id" class="form-control input-xxs">
                                    <fieldset class="content-group">
                                      <div class="row">
                                        <div class="col-md-4">
                                            <label>Main Category<span class="text-danger">*</span></label>
                                            <ng-select [items]="mainCat$ | async"
                                                    placeholder = "[Select Main Category]"
                                                    [selectOnTab]="true"
                                                    bindLabel="category_name"
                                                    [loading]="mainCatLoading"
                                                    [typeahead]="mainCatInput$"
                                                    [(ngModel)]="selectedMainCat"
                                                    formControlName="category_name" (blur)="formValidate()">
                                          </ng-select>
                                            <span class="err">{{ formFields.category_name }}</span>
                                            <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>
                                        </div>

                                        <div class="col-md-4">
                                          <label>Sub Category<span class="text-danger">*</span></label>
                                          <ng-select [items]="subCat$ | async"
                                                  placeholder = "[Select Sub Category]"
                                                  [selectOnTab]="true"
                                                  bindLabel="subcategory_name"
                                                  [loading]="subCatLoading"
                                                  [typeahead]="subCatInput$"
                                                  [(ngModel)]="selectedSubCat"
                                                  formControlName="subcategory_name" (blur)="formValidate()">
                                        </ng-select>
                                          <span class="err">{{ formFields.subcategory_name }}</span>
                                          <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>
                                        </div>

                                        <div class="col-md-4">
                                          <label> Dimensions <span class="text-danger">*</span> :</label>
                                          <input type="text" formControlName="size_name" class="form-control input-xxs"
                                           placeholder="Dimensions">
                                            <span class="err" > {{ formValidator.validate_field('size_name')  }} </span>
                                        </div>
                                      </div>
                                    </fieldset>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn bg-teal-400 btn-labeled btn-danger btn-xs" (click)="matSizeModel.hide()"><b><i class="icon-cross"></i></b> Close</button>
                                    <button type="submit" class="btn bg-teal-400 btn-labeled btn-success btn-xs" [disabled]="formGroup.invalid">
                                        <b><i class="icon-floppy-disk"></i></b> Save</button>
                                  </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
