
              <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="searchFrom()" style="margin-top:-25px">



                      <div class="panel panel-flat" style="border-style:none">
                        <div class="panel-body">

                        <div class="row">
                          <h6 style="color:#26A69A">Material Transfer In</h6>
                          <hr>

                        </div>

                      </div>

                  <div class="row">

                    <div class="col-md-4">
                        <label>Gate Pass ID</label>
                        <input type="text" class="form-control input-xxs" formControlName="gate_pass_no" placeholder = "Transfer ID" (blur)="formValidate()">
                        <!-- <span class="err">{{ formFields.version }}</span> -->
                    </div>

                    <div class="col-md-4">
                        <label>Status</label>
                        <input type="text" class="form-control input-xxs" formControlName="status" placeholder = "Status" (blur)="formValidate()">
                        <!-- <span class="err">{{ formFields.max_smv }}</span> -->
                    </div>
                  </div>

                  <div class="row">

                    <div class="heading-btn pull-right" style="margin-top:20px">
                      <div class="text-center">
                        <button type="button"  class="btn bg-teal-400 btn-labeled btn-primary btn-xs" style="margin-right:150px"  (click)="searchFrom()"><b><i class="icon-search4"></i></b> Search</button>
                        <!-- <span class="err">{{ formFields.version }}</span> -->
                      </div>
                    </div>
                  </div>

                  </div>
      </form>


      <div>
        <legend class="text-bold" style="margin-top:20px">Meterial Details</legend>
        <div class="row">
          <div style="border-style:solid;border-width:1px;border-color:#DCDCDC">
            <hot-table
              [hotId]="instance"
              [settings]="hotOptions"
              [(data)]="dataset">
          </hot-table>
          </div>
        </div>
      </div>
