<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Customer Size Grid</h5>

        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
      <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="saveTm()">
      <div class="row">
        <input type="hidden" formControlName="id" class="form-control input-xxs">
        <div class="col-md-12">
          <div class="col-md-4">


              <label>Customer<span class="text-danger">*</span></label>
              <ng-select [items]="customer$ | async"
                      placeholder = "[Select Customer]"
                      [selectOnTab]="true"
                      bindLabel="customer_name"
                      [loading]="customerLoading "
                      [typeahead]="customerInput$"
                      [(ngModel)]="selectedCustomer"
                      formControlName="customer_name" (blur)="formValidate()">
            </ng-select>
              <span class="err">{{ formFields.customer_name }}</span>
         <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>

          </div>

          <div class="col-md-4">

            <label>Silhouette<span class="text-danger">*</span></label>
            <ng-select [items]="silhouette$ | async"
                    placeholder = "[Select Silhouette]"
                    [selectOnTab]="true"
                    bindLabel="product_silhouette_description"
                    [loading]="silhouetteLoading"
                    [typeahead]="silhouetteInput$"
                    [(ngModel)]="selectedSilhouette"
                    formControlName="product_silhouette_description" (blur)="formValidate()">
          </ng-select>
          <span class="err">{{ formFields.product_silhouette_description }}</span>
          <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>

          </div>
          <div class="col-md-4">

            <label>Size<span class="text-danger">*</span></label>
            <ng-select [items]="size$ | async"
                    placeholder = "[Select Size]"
                    [selectOnTab]="true"
                    bindLabel="size_name"
                    [loading]="sizeLoading"
                    [typeahead]="sizeInput$"
                    [(ngModel)]="selectedSize"
                    formControlName="size_name" (blur)="formValidate()">
          </ng-select>
            <span class="err">{{ formFields.size_name }}</span>
           <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>

          </div>

      </div>


      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-right">
          <br>
                    <button type="submit" class="btn bg-teal-400 btn-labeled btn-success btn-xs" [disabled]="formGroup.invalid">
                    <b><i class="icon-floppy-disk"></i></b> Save</button>

          </div>
        </div>
      </div>
      </form>



      <div class="row">
         <div class="col-md-12">
          <table class="table display datatable-basic" id="customer-size-grid-table">
              <thead>
                  <tr>
                      <th class="text-center">Action</th>
                      <th>Status</th>
                      <th>Customer</th>
                      <th>Silhouette</th>
                      <th>Size</th>
                  </tr>
              </thead>
              <tbody>

              </tbody>
          </table>
        </div>
      </div>




    </div>
</div>
