<div class="row">
   <div class="col-md-12">
    <table class="table datatable-basic" id="item_tbl2">
        <thead>
            <tr>
                <th class="text-center">Action</th>
                <th>Status</th>
                <th>Request No</th>
                <th>Cost Center</th>
                <th>Department</th>
                <th>Description</th>
                <th>Item Wanted Date</th>
                <th>Qty</th>
                <th>UOM</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
</div>
