<div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">General PR</h6>

                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">

                    <tabset #tabs>

                      <tab heading="generalpr" id="tab1">
                          <app-generalpr></app-generalpr>
                      </tab>

                      <tab heading="Genmrnlist">
                          <app-genmrn-list></app-genmrn-list>
                      </tab>

                    </tabset>

                </div>
</div>
