<div class="panel panel-flat">
    <div class="panel-heading">

        <!--end form-->
        <h6 class="panel-title">Style MRN</h6>

        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>
    <form class="form-horizontal" [formGroup]="mrnGroup">
        <div class="panel panel-flat">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12" style="padding: 10px;">

                        <div class="row">
                            <div class="col-md-4">
                                <label>MRN No<span class="text-danger">*</span></label>
                                <input type="text" class="form-control input-xxs" formControlName="mrn_no" (blur)="formValidate()">

                            </div>


                            <div class="col-md-4">

                                <label>Section<span class="text-danger">*</span></label>

                                <ng-select [items]="section$ | async" placeholder="[Select Section]" bindLabel="section_name" [hideSelected]="true" formControlName="sec_name" >
                                </ng-select>

                                <span class="err">{{ formFields.sec_name }}</span>
                                <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>
                            </div>

                            <div class="col-md-4">
                                <fieldset>
                                    <label>Line No :</label>
                                    <input type="text" formControlName="qty" class="form-control input-xxs"
                                           placeholder="qty" (blur)="formValidate()">
                                    <span class="err">{{ formFields.line_no }}</span>
                                    <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>
                                </fieldset>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <label>Request Type<span class="text-danger">*</span></label>
                                <ng-select [items]="requestType$ | async"
                                           placeholder="[Select Request Type]"
                                           [selectOnTab]="true"
                                           bindLabel="line_no"
                                           [loading]="requestTypeLoading"
                                           [typeahead]="requestTypeInput$"
                                           [(ngModel)]="selectedRequestType"
                                           formControlName="request_type" (blur)="formValidate()">
                                </ng-select>
                                <span class="err">{{ formFields.request_type }}</span>
                                <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--  <button type="button" class="btn bg-teal-400 btn-labeled btn-primary btn-xs"><b><i class="icon-plus3"></i></b> New</button>-->
                        <button type="button" class="btn bg-teal-400 btn-labeled btn-primary btn-xs"
                                (click)="MRNDetailtModel.show()">
                            <b><i class="icon-plus3"></i></b> New
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </form>
</div>


<!-- popup -->
<div bsModal #MRNDetailtModel="bs-modal" [config]="{backdrop: 'static'}"
     class="modal fade" (onShow)="showEvent($event)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" [formGroup]="modalGroup">
                <div class="modal-header  bg-teal-300">
                    <button type="button" class="close" (click)="MRNDetailtModel.hide()">&times;</button>
                    <h5 class="modal-title">{{ modelTitle }}</h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" formControlName="dep_id" class="form-control input-xxs">
                    <fieldset class="content-group">
                        <div class="row">
                            <div class="col-md-12" style="padding: 10px;">
                                <div class="col-md-4">
                                    <label>Style No<span class="text-danger">*</span></label>
                                    <ng-select [items]="styleNo$ | async"
                                               placeholder="[Select Style No]"
                                               [selectOnTab]="true"
                                               bindLabel="style_no"
                                               [loading]="styleNoLoading"
                                               [typeahead]="styleNoInput$"
                                               [(ngModel)]="selectedStyleNo"
                                               (change)="loadSCList()"
                                               formControlName="style_no" (blur)="formValidate()">
                                    </ng-select>
                                    <span class="err">{{ formFields.style_no}}</span>
                                    <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>
                                </div>


                                <div class="col-md-4">
                                    <label>Sc<span class="text-danger">*</span></label>
                                    <ng-select [items]="sc$ | async"
                                               placeholder="[Select Sc]"
                                               [selectOnTab]="true"
                                               bindLabel="sc"
                                               [loading]="scLoading"
                                               [typeahead]="scInput$"
                                               [(ngModel)]="selectedSc"
                                               formControlName="sc" (blur)="formValidate()">
                                    </ng-select>
                                    <span class="err">{{ formFields.sc}}</span>
                                    <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>
                                </div>


                                <div class="col-md-4">
                                    <label>Coustomer Po<span class="text-danger">*</span></label>
                                    <ng-select [items]="customerPo$ | async"
                                               placeholder="[Select Customer Po]"
                                               [selectOnTab]="true"
                                               bindLabel="customer_po"
                                               [loading]="customerPoLoading"
                                               [typeahead]="customerPoInput$"
                                               [(ngModel)]="selectedCustomerPo"
                                               formControlName="customer_po" (blur)="formValidate()">
                                    </ng-select>
                                    <span class="err">{{ formFields.customer_po}}</span>
                                    <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="padding: 10px;">
                                <div class="col-md-6">
                                    <label>Main Category<span class="text-danger">*</span></label>
                                    <ng-select [items]="mainCategory$ | async"
                                               placeholder="[Select Main Category]"
                                               [selectOnTab]="true"
                                               bindLabel="category_name"
                                               [loading]="mainCategoryLoading "
                                               [typeahead]="mainCategoryInput$"
                                               [(ngModel)]="selectedmainCategory"
                                               formControlName="category_name" (blur)="formValidate()">
                                    </ng-select>
                                    <span class="err">{{ formFields.category_name }}</span>
                                    <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>
                                </div>
                                <div class="col-md-6">
                                    {{ subCategory$ }}
                                    <label>Sub Category<span class="text-danger">*</span></label>
                                    <ng-select [items]="subCategory$ | async"
                                               placeholder="[Select Sub Category]"
                                               [selectOnTab]="true"
                                               bindLabel="subcategory_name"
                                               [loading]="subCategoryLoading "
                                               [typeahead]="subCategoryInput$"
                                               [(ngModel)]="selectedsubCategory"
                                               formControlName="subcategory_name" (blur)="formValidate()">
                                    </ng-select>
                                    <span class="err">{{ formFields.subcategory_name}}</span>
                                    <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn bg-teal-400 btn-labeled btn-success btn-xs" (click)="searchItems($event)">
                        <b><i class="icon-search4"></i></b>Search
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-teal-400 btn-labeled btn-danger btn-xs"
                            (click)="MRNDetailtModel.hide()"><b><i class="icon-cross"></i></b> Close
                    </button>
                    <button type="submit" class="btn bg-teal-400 btn-labeled btn-success btn-xs">
                        <b><i class="icon-search4"></i></b>Search
                    </button>
                </div>
            </form>
            <!---table-->
            <table class="table datatable-basic" id="sub_location_tbl">
                <thead>
                <tr>
                    <th class="text-center">Action</th>
                    <th>Item Code</th>
                    <th>Discription</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Cus Po</th>
                    <th>Uom</th>
                    <th>Available Qty</th>
                    <th>Requet Qty</th>
                    <th>MRN Qty</th>

                </tr>
                </thead>

                <tbody>

                </tbody>


            </table>

            <!--table-->

        </div>
    </div>

</div>
