<div class="content">


  <div class="col-md-12">

    <div class="panel panel-flat">
      <div class="panel-heading">
        <h5 class="panel-title">User Profile</h5>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
          </ul>
        </div>
      </div>

      <div class="panel-body">
        <div class="tabbable">
          <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
            <li class="active"><a href="#highlighted-justified-tab1" data-toggle="tab">User Information</a></li>
            <li *ngIf="formGroup.get('user_id').value > 0"><a href="#highlighted-justified-tab2" data-toggle="tab">User Locations</a></li>
            <li *ngIf="formGroup.get('user_id').value > 0"><a href="#highlighted-justified-tab3" data-toggle="tab">User Permation</a></li>
          </ul>

          <p>

          </p>
          <div class="tab-content">
            <div class="tab-pane active" id="highlighted-justified-tab1">

              <div class="col-md-12">
                <div class="panel-body">

                    <form [formGroup]="formGroup" (ngSubmit)="saveRegisterForm()">
                      <input type="hidden" formControlName="user_id" value=""/>
                      <legend class="text-bold">Personal Details</legend>

                      <div class="row">
                        <div class="form-group col-md-4">
                          <label>First Name <span class="text-danger">*</span> </label>
                          <input type="text" formControlName="first_name" class="form-control input-xxs" placeholder="First Name" >
                          <span class="err" > {{ formValidator.validate_field('first_name') }} </span>
                        </div>
                        <div class="form-group col-md-4">
                          <label>Last Name<span class="text-danger">*</span> </label>
                          <input type="text" formControlName="last_name" class="form-control input-xxs" placeholder="Last Name" />
                          <span class="err" > {{ formValidator.validate_field('last_name') }} </span>
                        </div>
                        <div class="form-group col-md-4">
                          <label>Date of Birth <span class="text-danger">*</span> </label>
                          <input type="text" formControlName="date_of_birth" class="form-control input-xxs" placeholder="Date of Birth"  bsDatepicker placement="left" [bsConfig]="{ dateInputFormat: 'DD MMM, YYYY' }" />
                          <span class="err" > {{ formValidator.validate_field('date_of_birth') }} </span>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-4">
                          <label>NIC No<span class="text-danger">*</span> </label>
                          <input type="text" formControlName="nic_no" class="form-control input-xxs" placeholder="NIC No" />
                          <span class="err" > {{ formValidator.validate_field('nic_no') }} </span>
                        </div>
                        <div class="form-group col-md-4">
                          <label>Gender<span class="text-danger">*</span> </label>
                          <select class="form-control input-xxs" id="gender" formControlName="gender" >
                            <option value="">[Select]</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                          </select>
                          <span class="err" > {{ formValidator.validate_field('gender') }} </span>
                        </div>
                        <div class="form-group col-md-4">
                          <label>Civil Status<span class="text-danger">*</span> </label>
                          <select class="form-control input-xxs" id="civil_status" formControlName="civil_status" >
                            <option value="">[Select]</option>
                            <option value="MARRIED">Married</option>
                            <option value="UNMARRIED">Unmarried</option>
                          </select>
                          <span class="err" > {{ formValidator.validate_field('civil_status') }} </span>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group  col-md-4">
                          <label>Mobile Number</label>
                          <input type="text" formControlName="mobile_no" class="form-control input-xxs" placeholder="Mobile Number" />
                        </div>
                      </div>

                      <legend class="text-bold">Official Details</legend>

                      <div class="row">
                        <div class="form-group  col-md-4">
                          <label>Email </label>
                          <input type="text" formControlName="email" class="form-control input-xxs" placeholder="Email" />
                          <span class="err" > {{ formValidator.validate_field('email') }} </span>
                        </div>
                        <div class="form-group  col-md-4">
                          <label>Employee Number<span class="text-danger">*</span> </label>
                          <input type="text" formControlName="emp_number" class="form-control input-xxs" placeholder="Employee Number" />
                          <span class="err" > {{ formValidator.validate_field('emp_number') }} </span>
                        </div>
                        <div class="form-group  col-md-4">
                          <label>Date of Joined<span class="text-danger">*</span> </label>
                          <input type="text" formControlName="joined_date" class="form-control input-xxs" placeholder="Date of Joined" bsDatepicker placement="left" [bsConfig]="{ dateInputFormat: 'DD MMM, YYYY' }" />
                          <span class="err" > {{ formValidator.validate_field('joined_date') }} </span>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group  col-md-4">
                          <label for="loc_id">Location<span class="text-danger" >*</span> </label>

                          <select class="form-control input-xxs" formControlName="loc_id" >
                            <option value="">[Select]</option>
                            <option *ngFor='let loc of location$ | async' [value]="loc.loc_id">
                              {{ loc.loc_name }}
                            </option>
                          </select>
                        <span class="err" > {{ formValidator.validate_field('loc_id') }} </span>
                        </div>
                        <div class="form-group  col-md-4">
                          <label for="dept_id">Department<span class="text-danger">*</span> </label>
                          <select id="dept_id" class="form-control input-xxs" formControlName="dept_id">
                            <option value="">[Select]</option>
                            <option *ngFor='let dept of department$ | async' [value]="dept.dep_id">
                              {{ dept.dep_name }}
                            </option>
                          </select>
                          <span class="err" > {{ formValidator.validate_field('dept_id') }} </span>
                        </div>
                        <div class="form-group  col-md-4">
                          <label>Designation<span class="text-danger">*</span> </label>
                          <select id="desig_id" class="form-control input-xxs" formControlName="desig_id">
                            <option value="">[Select]</option>
                            <option value="1">Test</option>
                            <!--<option *ngFor='let desg of designation$ | async' [value]="desg.desig_id">
                              {{ desg.desig_name }}
                            </option>-->
                          </select>
                          <span class="err" > {{ formValidator.validate_field('desig_id') }} </span>
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group  col-md-4">
                          <label>Cost Center<span class="text-danger">*</span> </label>
                          <select id="cost_center_id" class="form-control input-xxs" formControlName="cost_center_id">
                            <option value="">[Select]</option>
                            <option *ngFor='let cost of costCenter$ | async' [value]="cost.cost_center_id">
                              {{ cost.cost_center_name }}
                            </option>
                          </select>
                          <span class="err" > {{ formValidator.validate_field('cost_center_id') }} </span>
                        </div>
                        <div class="form-group  col-md-4">
                          <label>Resign Date </label>
                          <input type="text" formControlName="resign_date" class="form-control input-xxs" placeholder="Resign Date" bsDatepicker placement="left" [bsConfig]="{ dateInputFormat: 'DD MMM, YYYY' }" />
                        </div>
                      </div>


                      <legend class="text-bold">Report Levels</legend>

                      <div class="row">
                        <div class="form-group  col-md-4">
                          <label>Immediate Report<span class="text-danger">*</span> </label>
                          <select id="reporting_level_1" class="form-control input-xxs" formControlName="reporting_level_1">
                            <option value="">[Select]</option>
                            <option *ngFor='let users of user$ | async' [value]="users.user_id">
                              {{ users.first_name +' '+ users.last_name }}
                            </option>
                          </select>
                        </div>
                        <div class="form-group  col-md-4">
                          <label>Alternative<span class="text-danger">*</span> </label>
                          <select id="reporting_level_2" class="form-control input-xxs" formControlName="reporting_level_2">
                            <option value="">[Select]</option>
                            <option *ngFor='let users of user$ | async' [value]="users.user_id">
                              {{ users.first_name +' '+ users.last_name }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <legend class="text-bold">User Login</legend>

                      <div class="row">
                        <div class="form-group  col-md-4">
                          <label>User Name </label>
                          <input type="text" formControlName="user_name" class="form-control input-xxs" placeholder="User Name" />
                        </div>
                        <div class="form-group  col-md-4">
                          <label>Password </label>
                          <input type="password" formControlName="password" class="form-control input-xxs" placeholder="Password" />
                        </div>
                      </div>

                      <div class="text-right">
                        <button type="button" class="btn bg-teal-400 btn-labeled btn-primary btn-xs" (click)="newUser()"><b><i class="icon-plus3"></i></b> New</button>&nbsp;
                        <button *ngIf="!processing" type="submit" class="btn bg-teal-400 btn-labeled btn-success btn-xs" [disabled]="formGroup.invalid" ><b><i class="icon-floppy-disk"></i></b> Save</button>
                      </div>
                    </form>

                </div>
              </div>
              <!-- /basic layout -->

            </div>
            <div *ngIf="formGroup.get('user_id').value > 0" class="tab-pane" id="highlighted-justified-tab2">

              <app-multiselect
                [notSelected]="notSelectedLocations$ | async"
                [selected]="selectedLocations$ | async"
                selectedHeader = "Selected Locations"
                notSelectedHeader = "Not Selected Locations"
                bindId = "loc_id"
                bindLabel = "loc_name"
                (onSave)="saveLocations($event)">
            </app-multiselect>

            </div>

            <div *ngIf="formGroup.get('user_id').value > 0" class="tab-pane" id="highlighted-justified-tab3">

              <div class="row">
                <div class="col-md-6">
                  <label>Locations<span class="text-danger">*</span> </label>
                  <select class="form-control input-xxs" (change)="changeLocation($event)">
                    <option value="">[Select]</option>
                    <option *ngFor='let location of selectedLocations$ | async' [value]="location.loc_id">
                      {{ location.loc_name }}
                    </option>
                  </select>
                </div>
              </div>
              <app-multiselect
                [notSelected]="notSelectedRoles$ | async"
                [selected]="selectedRoles$ | async"
                selectedHeader = "Selected Permission Roles"
                notSelectedHeader = "Not Selected Permission Roles"
                bindId = "role_id"
                bindLabel = "role_name"
                (onSave)="saveRoles($event)">
            </app-multiselect>


            </div>



          </div>
        </div>
      </div>
      <!-- Basic layout-->


    </div>

  </div>

</div>
