<div class="col-md-12">
    <div class="panel ">

				<div class="panel-heading">
					<h6 class="panel-title">Purchase Order</h6>
					<div class="heading-elements">
						<ul class="icons-list">
		             <li><a data-action="collapse"></a></li>
		             <li><a data-action="reload"></a></li>
		             <li><a data-action="close"></a></li>
		        </ul>
		      </div>
				</div>

				<div class="panel-body">

          <tabset #potabs [justified]="true">

            <tab heading="Purchase Order List" (select)="onSelect($event)">
                <app-purchase-order-list></app-purchase-order-list>
            </tab>

            <tab heading="Purchase Order" (select)="onSelect($event)">
                <app-purchase-order-home></app-purchase-order-home>
            </tab>

          </tabset>


        </div>


		</div>
</div>
