<div class="panel panel-flat">
  <div class="panel-heading">
      <h5 class="panel-title">Fabric Creation</h5>
      <div class="heading-elements">
          <ul class="icons-list">
              <li><a data-action="collapse"></a></li>
              <li><a data-action="reload"></a></li>
              <li><a data-action="close"></a></li>
          </ul>
      </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <label>Main Category</label>
        <select class="form-control input-xxs">
        </select>
      </div>
      <div class="col-md-4">
        <label>Sub Category</label>
        <select class="form-control input-xxs">
        </select>
      </div>
      <div class="col-md-4">
        <label>UOM</label>
        <select class="form-control input-xxs">
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Item Code</label>
        <select class="form-control input-xxs">
        </select>
      </div>
      <div class="col-md-4">
        <label>Item Description</label>
        <select class="form-control input-xxs">
        </select>
      </div>
      <div class="col-md-4">
        <label>Upload Spec Sheets</label>
        <select class="form-control input-xxs">
        </select>
      </div>
    </div>

    <div class="row" style="text-align:center;">
      <h6 style="background-color:#26A69A;font-weight:bold;color:#FFF">Properties</h6>
    </div>

    <div class="row">
      <div class="col-md-4">

        <div class="card border-teal-400">
              <div class="card-header bg-teal-400 text-white header-elements-inline">
								<h6 class="card-title">1. Fabric type</h6>
							</div>
  							<div class="card-body">
                  <table class="tbl">
                    <tr>
                      <td>Woven</td>
                      <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td style="padding-left:15px">Knit - warp</td>
                      <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                      <td style="padding-left:15px">Knit - weft</td>
                      <td><input type="checkbox"></td>
                    </tr>
                  </table>

                </div>
  				</div>

          <div class="card border-teal-400" >
                <div class="card-header bg-teal-400 text-white header-elements-inline">
  								<h6 class="card-title" style="margin-left:5px">2. Construction</h6>
  							</div>
    							<div class="card-body">
                    <table style="width:100%">
                      <tr>
                        <td><label>Yarn Count</label></td>
                        <td><input type="text" class="form-control input-xxs"></td>
                      </tr>
                      <tr>
                        <td><label>Denier</label></td>
                        <td><input type="text" class="form-control input-xxs"></td>
                      </tr>
                      <tr>
                        <td><label>Yarn Count(Warp)</label></td>
                        <td><input type="text" class="form-control input-xxs"></td>
                      </tr>
                      <tr>
                        <td><label>Yarn Count(Weft)</label></td>
                        <td><input type="text" class="form-control input-xxs"></td>
                      </tr>
                      <tr>
                        <td><label>Construction (Warp)</label></td>
                        <td><input type="text" class="form-control input-xxs"></td>
                      </tr>
                    </table>
                </div>
    				</div>

      </div>

      <div class="col-md-4">
        <div class="card border-teal-400">
              <div class="card-header bg-teal-400 text-white header-elements-inline">
                <h6 class="card-title" style="margin-left:5px">3. Composition</h6>
              </div>
                <div class="card-body">
                  <table>
                    <tr>
                      <td><label>material & percentage</label></td>
                      <td><input type="text" class="form-control input-xxs"></td>
                      <td><input type="text" class="form-control input-xxs"></td>
                    </tr>
                    <tr>
                      <td><label>material & percentage</label></td>
                      <td><input type="text" class="form-control input-xxs"></td>
                      <td><input type="text" class="form-control input-xxs"></td>
                    </tr>
                    <tr>
                      <td><label>material & percentage</label></td>
                      <td><input type="text" class="form-control input-xxs"></td>
                      <td><input type="text" class="form-control input-xxs"></td>
                    </tr>
                    <tr>
                      <td><label>material & percentage</label></td>
                      <td><input type="text" class="form-control input-xxs"></td>
                      <td><input type="text" class="form-control input-xxs"></td>
                    </tr>
                    <tr>
                      <td><label>material & percentage</label></td>
                      <td><input type="text" class="form-control input-xxs"></td>
                      <td><input type="text" class="form-control input-xxs"></td>
                    </tr>
                    <tr>
                      <td><label>material & percentage</label></td>
                      <td><input type="text" class="form-control input-xxs"></td>
                      <td><input type="text" class="form-control input-xxs"></td>
                    </tr>
                  </table>


                </div>
          </div>

          <div class="card border-teal-400" >
                <div class="card-header bg-teal-400 text-white header-elements-inline">
  								<h6 class="card-title" style="margin-left:5px">4. Width & Weight</h6>
  							</div>
    							<div class="card-body">
                      <table>
                        <tr>
                          <td><label>Width</label></td>
                          <td><input type="text" class="form-control input-xxs"></td>
                        </tr>
                        <tr>
                          <td><label>Weight</label></td>
                          <td><input type="text" class="form-control input-xxs"></td>
                        </tr>
                      </table>
                   </div>
    				</div>

      </div>

      <div class="col-md-4">

        <div class="card border-teal-400" >
              <div class="card-header bg-teal-400 text-white header-elements-inline">
                <h6 class="card-title" style="margin-left:5px">5. Finishing</h6>
              </div>
                <div class="card-body">
                  <table>
                    <tr>
                      <td> <label>Bio wash</label> </td>
                      <td> <input type="checkbox"> </td>
                    </tr>
                    <tr>
                      <td> <label>Moisture wicking</label> </td>
                      <td> <input type="checkbox"> </td>
                    </tr>
                    <tr>
                      <td> <label>Perfumed</label> </td>
                      <td> <input type="checkbox"> </td>
                    </tr>
                    <tr>
                      <td> <label>B</label> </td>
                      <td> <input type="checkbox"> </td>
                    </tr>
                    <tr>
                      <td> <label>C</label> </td>
                      <td> <input type="checkbox"> </td>
                    </tr>
                    <tr>
                      <td> <label>D</label> </td>
                      <td> <input type="checkbox"> </td>
                    </tr>
                    <tr>
                      <td> <label>E</label> </td>
                      <td> <input type="checkbox"> </td>
                    </tr>
                    <tr>
                      <td> <label>F</label> </td>
                      <td> <input type="checkbox"> </td>
                    </tr>
                    <tr>
                      <td> <label>G</label> </td>
                      <td> <input type="checkbox"> </td>
                    </tr>
                  </table>

                </div>
          </div>

      </div>
    </div>

    <div class="row" style="text-align:center;">
      <h6 style="background-color:#26A69A;font-weight:bold;color:#FFF">Item Match Screen</h6>
    </div>
    <!--<div class="tabbable">
      <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
          <li class="active"><a href="#tab_payment_term" data-toggle="tab">Item Creation</a></li>
          <li><a href="#tab_cost_center" data-toggle="tab">Item List</a></li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="tab_payment_term">

          </div>
          <div class="tab-pane" id="tab_cost_center">

          </div>
      </div>
    </div>-->
  </div>
</div>
