<div class="panel panel-flat">
  <div class="panel-heading">

    <h5 class="panel-title">User Administration</h5>

    <div class="heading-elements">
      <ul class="icons-list">
        <li><a data-action="collapse"></a></li>
        <li><a data-action="reload"></a></li>
        <li><a data-action="close"></a></li>
      </ul>
    </div>
  </div>


  <div class="panel-body">
      <div class="tab-content">

        <div class="tab-pane active" id="tab_payment_term">
          <div class="row">
            <div class="text-right">
              <button type="button" class="btn bg-teal-400 btn-labeled btn-primary btn-xs"
                      (click)="redirectRegister()"><b><i class="icon-plus3"></i></b> New</button>
            </div>
            <br clear="All">
          </div>

          <div class="row">
            <div class="col-md-12">
                <table class="table display compact" id="user-tbl">
                  <thead>
                    <tr>
                      <th class="text-center">Action</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Employee Number</th>
                      <th>Email</th>
                      <th>Location</th>
                      <th>Department</th>
                      <th>Designation</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>

                </table>
              </div>
            </div>
        </div>

        <div class="tab-pane" id="tab_cost_center">


        </div>

        <div class="tab-pane" id="tab_payment_method">


        </div>

      </div>
  </div>
</div>
