
            <!-- <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">SMV Update</h6>

                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div> -->

                <!-- <div class="panel-body"> -->

                  <div class="row">
                    <div class="col-md-12">
                      <div class="text-right">
                          <button type="button" class="btn bg-teal-400 btn-labeled btn-primary btn-xs"
                          (click)="smvupdateModel.show()"><b><i class="icon-plus3"></i></b>Add New</button><br><br>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                  	 <div class="col-md-12">
                      <table class="table display datatable-basic" id="smvupdate_tbl">
                          <thead>
                              <tr>
                                  <th class="text-center">Action</th>
                                  <th>Customer</th>
                                  <th>Status</th>
                                  <th>Version</th>
                                  <th>Product Silhouette</th>
                                  <th>Min SMV</th>
                                  <th>Max SMV</th>
                              </tr>
                          </thead>
                          <tbody>
                          </tbody>
                      </table><br><br>
                    </div>
                  </div>

                  <!-- popup -->
                  <div bsModal #smvupdateModel="bs-modal" [config]="{backdrop: 'static'}"
                   class="modal fade" (onShow)="showEvent($event)" >
                   <div class="modal-dialog modal-lg">
                       <div class="modal-content">
                           <form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="saveSmvupdate()">
                               <div class="modal-header  bg-teal-300">
                                   <button type="button" class="close" (click)="smvupdateModel.hide()">&times;</button>
                                   <h5 class="modal-title">{{ modelTitle }}</h5>
                               </div>
                               <div class="modal-body">
                                   <input type="hidden" formControlName="smv_id" class="form-control input-xxs">
                                   <fieldset class="content-group">

                                     <div class="row">
                                       <div class="col-md-4">
                                           <label>Customer<span class="text-danger">*</span></label>
                                           <ng-select [items]="customer$ | async"
                                                   placeholder = "[Select Customer]"
                                                   [selectOnTab]="true"
                                                   bindLabel="customer_name"
                                                   [clearable]="true"
                                                   [loading]="customerLoading"
                                                   [typeahead]="customerInput$"
                                                   [(ngModel)]="selectedCustomer"
                                                   formControlName="customer_name" (blur)="formValidate()">
                                         </ng-select>
                                           <span class="err">{{ formFields.customer_name }}</span>
                                           <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>
                                       </div>
                                       <div class="col-md-4">
                                         <label>Customer Division<span class="text-danger">*</span></label>
                                         <select class="form-control input-xxs" formControlName="division_id" placeholder = "[Select Division]" (blur)="formValidate()">
                                             <option *ngFor = "let custDivision of custDivisions$ | async" [value]="custDivision.division_id">
                                               {{ custDivision.division_description }}
                                             </option>
                                         </select>
                                         <span class="err">{{ formFields.division_id }}</span>
                                         <span class="err">{{formFields.validation_error}}</span>
                                       </div>
                                       <div class="col-md-4">
                                         <label>Product Silhouette<span class="text-danger">*</span></label>
                                         <ng-select [items]="productSilhouette$ | async"
                                                 placeholder = "[Select Silhouette]"
                                                 [selectOnTab]="true"
                                                 bindLabel="product_silhouette_description"
                                                 [loading]="productSilhouetteLoading"
                                                 [typeahead]="productSilhouetteInput$"
                                                 [(ngModel)]="selectedProductSilhouette"
                                                 formControlName="product_silhouette_description" (blur)="formValidate()">
                                       </ng-select>
                                         <span class="err">{{ formFields.product_silhouette_description }}</span>
                                         <span *ngIf="formFields.validation_error != ''" class="err">{{formFields.validation_error}}</span>
                                       </div>
                                     </div>


                                     <div class="row">
                                       <div class="col-md-4">
                                           <label>Version</label>
                                           <input type="text" class="form-control input-xxs" formControlName="version" (blur)="formValidate()">
                                           <span class="err">{{ formFields.version }}</span>
                                       </div>
                                       <div class="col-md-4">
                                           <label>Minimum SMV</label>
                                           <input type="text" class="form-control input-xxs" formControlName="min_smv" placeholder = "Minimum SMV" (blur)="formValidate()">
                                           <span class="err">{{ formFields.min_smv }}</span>
                                       </div>
                                       <div class="col-md-4">
                                           <label>Maximum SMV</label>
                                           <input type="text" class="form-control input-xxs" formControlName="max_smv" placeholder = "Maximum SMV" (blur)="formValidate()">
                                           <span class="err">{{ formFields.max_smv }}</span>
                                       </div>
                                     </div>


                              </fieldset>






                               </div>
                               <div class="modal-footer">
                                   <button type="button" class="btn bg-teal-400 btn-labeled btn-danger btn-xs" (click)="smvupdateModel.hide()"><b><i class="icon-cross"></i></b> Close</button>
                                   <button type="submit" class="btn bg-teal-400 btn-labeled btn-success btn-xs" [disabled]="formGroup.invalid">
                                     <b><i class="icon-floppy-disk"></i></b> Save</button>
                                   </div>
                               </form>
                               <!---table-->



                               <!--table-->


                           </div>
                       </div>

                      </div>
                  <!-- </div> -->
            <!-- </div> -->
