<div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Suppliers</h6>

                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">

                    <tabset #tabs>

                      <tab heading="Suppliers" id="tab1">
                          <app-supplier-list></app-supplier-list>
                      </tab>

                      <tab heading="Supplier">
                          <app-supplier></app-supplier>
                      </tab>
                      <tab heading="Supplier-Tolarance">
                          <app-supplier-tolarance></app-supplier-tolarance>
                      </tab>

                    </tabset>

                </div>
            </div>
