<div bsModal #splitModel="bs-modal"
 class="modal fade" (onShown)="modelShowEvent($event)" >
 <div class="modal-dialog modal-lg">

		 <div class="modal-content">

						 <div class="modal-header  bg-teal-300">
								 <button type="button" class="close" (click)="splitModel.hide()">&times;</button>
								 <h5 class="modal-title">{{ modelTitle }}</h5>
						 </div>
						 <div class="modal-body">


                 <div>
                     <div class="row" *ngIf="dataset.length <= 0">
                       <form [formGroup]="formSplit" (ngSubmit)="addNewSplit()" >
                         <div class="col-md-4">
                             <label>No Of Lines <span class="text-danger">*</span> :</label>
                             <input type="number" formControlName="split_line_no"  class="form-control input-xxs"
                               placeholder="No of lines to split" >
                             <span class="err">{{ formValidatorSplit.validate_field('split_line_no') }}</span>
                         </div>
                         <div class="col-md-4">
                           <button *ngIf="!loading && !processing" type="submit" class="btn bg-teal-400 btn-labeled btn-success btn-xs" style="margin-top:20px" [disabled]="formSplit.invalid">
                              <b><i class="icon-floppy-disk"></i></b>Split Delivery</button>
                         </div>
                     </form>
                   </div>

         					<legend class="text-bold" style="margin-top:10px">Splited Lines</legend>
         					<div class="row">
         						<div style="border-style:solid;border-width:1px;border-color:#DCDCDC">
                       <hot-table
                         [hotId]="instance"
                         [settings]="hotOptions"
                         [data]="dataset">
                     </hot-table>
         						</div>
         					</div>
               </div>


						 </div>
						 <div class="modal-footer">
								 <button type="button" class="btn bg-teal-400 btn-labeled btn-danger btn-xs" (click)="splitModel.hide()"><b><i class="icon-cross"></i></b> Close</button>
                 <button type="button" class="btn bg-teal-400 btn-labeled btn-info btn-xs" (click)="clearData()">
                    <b><i class="icon-redo"></i></b> Clear</button>
                 <button type="button" class="btn bg-teal-400 btn-labeled btn-success btn-xs" (click)="saveSplitLines()">
										 <b><i class="icon-floppy-disk"></i></b> Save</button>
						 </div>

				 </div>

		 </div>
 </div>
