
        <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Location</h6>

                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">

                  <tabset #locationTabs [justified]="true">

                    <tab heading="Parent Company" (select)="onSelect($event)">
                      <app-source></app-source>
                    </tab>

                    <tab heading="Cluster" (select)="onSelect($event)">
                        <app-cluster></app-cluster>
                    </tab>

                    <tab heading="Company" (select)="onSelect($event)">
                        <app-company></app-company>
                    </tab>

                    <tab heading="Location" (select)="onSelect($event)">
                        <app-company-location></app-company-location>
                    </tab>

                  </tabset>

                </div>
            </div>
