
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Stores</h6>

                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="tabbable">
                        <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
                            <li class="active"><a href="#highlighted-justified-tab1" data-toggle="tab">Stores</a></li>
                            <li><a href="#highlighted-justified-tab2" data-toggle="tab">Stores Location</a></li>
                        </ul>

                           <div class="tab-content">
                            <div class="tab-pane active" id="highlighted-justified-tab1">

                                <app-stores></app-stores>

                            </div>

                            <div class="tab-pane" id="highlighted-justified-tab2">

                               <app-stores-location></app-stores-location>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
