<div class="col-md-12">
    <div class="panel ">

				<div class="panel-heading">
					<h6 class="panel-title">Permission Roles</h6>
					<div class="heading-elements">
						<ul class="icons-list">
		             <li><a data-action="collapse"></a></li>
		             <li><a data-action="reload"></a></li>
		             <li><a data-action="close"></a></li>
		        </ul>
		      </div>
				</div>

				<div class="panel-body">

          <tabset #roleTabs [justified]="true">

            <tab heading="Role List" (select)="onSelect($event)">
              <app-role-list></app-role-list>
            </tab>

            <tab heading="Role" (select)="onSelect($event)">
              <app-role></app-role>
            </tab>

          </tabset>


        </div>


		</div>
</div>
